.section-awards .item .title {
  font-weight: bold;
}

.section-awards .item .date, .section-awards .item .awarder {
  font-weight: normal;
}

.section-awards .item .summary {
  font-weight: normal;
  font-style: italic;
  text-align: justify;
}
