.section-contact {
  font-size: 1.3rem;
}

.section-contact .contact {
  list-style-type: none;
  text-align: justify;
  margin: 0.7rem 0 0.2rem 0;
  padding: 0;
}

.section-contact ul li {
  margin: .5rem 0 .5rem 0;
}
