/* Content */
.content {
  padding: 0 1.6rem 99999px .8rem;
  margin-bottom: -99999px;
  text-align: justify;
}

.content h1 {
  color: #0D3D56;
  text-transform: uppercase;
  text-align: center;
  font-size: 4rem;
  letter-spacing: .7rem;
  font-weight: bold;
  margin-top: .2rem;
  margin-bottom: .2rem;
}

.content h2 {
  color: #107895;
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  letter-spacing: .2rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: .6rem;
}

.content a:link, .content a:hover, .content a:visited {
  text-decoration: none;
}
