/* Content */
.content {
  padding: .8rem 1.6rem;
  background: #FFFFFF;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
  text-align: justify;
}

.content h1 {
  color: #0D3D56;
  text-transform: uppercase;
  text-align: center;
  font-size: 5rem;
  letter-spacing: .8rem;
  font-weight: bold;
  margin-top: 2rem;
}

.content h2 {
  color: #107895;
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  letter-spacing: .4rem;
  font-weight: bold;
  margin-top: 3rem;
}

.content a:link, .content a:hover, .content a:visited {
  text-decoration: none;
}
