.section-contact {
  font-size: 1.3rem;
}

.section-contact ul.contact {
  list-style-type: none;
  margin: 0.2rem 0 0.2rem 0;
  padding: 0;
}

.section-contact ul.contact li {
  margin: .5rem 0 .5rem 0;
}

.section-contact ul.profiles {
  list-style-type: none;
  margin: 0.2rem 0 0.2rem 0;
  padding: 0;
}

.section-contact ul.profiles li {
  margin: .5rem 0 .5rem 0;
}
