.section-education .item {
  margin-bottom: .6rem;
  font-size: 1.3rem;
}

.section-education .item .studyTitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #0B374D;
}

.section-education .item .institution {
  color: #3A6378;
  font-weight: bold;
}
