.section-interests .title {
  font-weight: bold;
}

.section-interests .item {
  margin-bottom: 1rem;
}

#interests-overrides .item .keywords .label {
  color: #EEF8FF;
  background-color: #0D3D56;
}
