#interests-overrides {
  margin-bottom: 1.4rem;
}

#interests-overrides .item {
  margin-bottom: .6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#interests-overrides .item .keywords .label {
  color: #F5FAFF;
  background-color: #0D3D56;
}
