/* Print */
@media print {
  body {
    background: #fff !important;
    font: 12px Arial, Helvetica, sans-serif;
    line-height: 1.3;
    color: #222244;
    font-size: 1.4rem;
  }

  .container {
    margin: 0 auto;
    padding: 0;
  }

  #resume, #header {
    overflow: hidden;
    border: none !important;
  }

  [class^="section-"] > .title {
    font-size: 1.6rem;
    letter-spacing: .1rem;
  }

  [class^="section-"] > .title .title-icon,
  [class^="section-"] > .title span {
    display: inline-block;
    vertical-align: middle;
    color: #107895 !important;
  }

  [class^="section-"] > .title span {
    margin-left: 5px;
  }

  [class^="section-"] > .title .title-icon {
    background-color: whitesmoke;
    border-radius: 5%;
    width: 2rem;
    height: 2rem;
    padding: 0.4rem 0.45rem;
  }

  /* Sidebar */
  .sidebar {
    padding: 0 0 99999px 1.6rem;
    margin-bottom: -99999px;
  }

  .sidebar h2 {
    color: #107895 !important;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: .6rem;
  }

  .sidebar a:link, .sidebar a:hover, .sidebar a:visited {
    text-decoration: none;
  }

  .avatar {
    margin: 2rem 0 2rem 1rem;
    text-align: center;
  }

  .avatar img {
    width: 85%;
  }

  .section-education .item {
    margin-bottom: .6rem;
    font-size: 1.3rem;
  }

  .section-education .item .studyTitle {
    text-transform: uppercase;
    font-weight: bold;
  }

  .section-education .item .institution {
    color: #3A6378 !important;
    font-weight: bold;
  }

  .section-education ul.courses {
    list-style-type: none;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0;
  }

  .section-education .ul.courses li {
    margin:0;
  }

  .section-trainings .item {
    margin-bottom: .6rem;
    font-size: 1.3rem;
  }

  .section-trainings .item .course .title {
    font-weight: bold;
    text-transform: uppercase;
  }

  .section-trainings .item .institution > span {
    color: #3A6378 !important;
    font-weight: bold;
  }

  /* Content */
  .content {
    padding: 0 1.6rem 99999px .8rem;
    margin-bottom: -99999px;
    text-align: justify;
  }

  .content h1 {
    color: #0D3D56 !important;
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
    letter-spacing: .7rem;
    font-weight: bold;
    margin-top: .2rem;
    margin-bottom: .2rem;
  }

  .content h2 {
    color: #107895 !important;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    letter-spacing: .2rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: .6rem;
  }

  .content a:link, .content a:hover, .content a:visited {
    text-decoration: none;
  }

  /* Sections */
  .section-summary {
    text-align: justify;
  }

  .section-summary .summary > p {
    margin: 0 0 3px;
  }

  .section-summary .highlights {
   list-style-type:square;
   font-size: 1.3rem;
  }

  .section-summary .highlights li {
    margin: .2rem 0;
  }

  .section-work .item {
    margin-bottom: 1.2rem;
  }

  .section-work .item .position {
    font-weight: bold;
    color: #0B374D !important;
    text-transform: uppercase;
  }

  .section-work .item .company {
      padding: 0.2rem 0;
      font-weight: bold;
  }

  .section-work .item .company > span, .section-work .item .company .date > span {
    color: #3A6378 !important;
  }

  .section-work .item .summary > p {
    margin: 0 0 3px !important;
  }

  .section-work .item .company .date {
    float: right;
  }

  .section-work .item .highlights {
   list-style-type:square;
   font-size: 1.3rem;
  }

  .section-work .item .highlights li {
    margin: .2rem 0;
  }

  .section-volunteer .item {
    font-size: 1.3rem;
  }

  .section-volunteer .item .position .title {
    font-weight: bold;
    text-transform: uppercase;
  }

  .section-volunteer .item .company > span {
    color: #3A6378 !important;
    font-weight: bold;
  }

  .section-volunteer .item .position .date {
    float: right;
  }

  .section-volunteer .item .summary, .section-volunteer .item .highlights {
      text-align: justify;
  }

  #interests-overrides {
    margin-bottom: 1.4rem;
  }

  #interests-overrides .item {
    margin-bottom: .6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #interests-overrides .item .keywords .label {
    color: #F5FAFF !important;
    background-color: #0D3D56 !important;
  }

  #skill-overrides {
    margin-bottom: 1.4rem;
  }

  .section-skills .item {
    margin-bottom: .6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #skill-overrides .item .keywords .label {
    color: #F5FAFF !important;
    background-color: #0D3D56 !important;
  }

  .section-contact {
    font-size: 1.3rem;
  }

  .section-contact ul.contact {
    list-style-type: none;
    text-align: justify;
    margin: 0.8rem 0 0.2rem 0;
    padding: 0;
  }

  .section-contact ul.contact li {
    margin: .5rem 0 .5rem 0;
  }

  .section-contact ul.profiles {
    list-style-type: none;
    margin: 0.2rem 0 0.2rem 0;
    padding: 0;
  }

  .section-contact ul.profiles li {
    margin: .5rem 0 .5rem 0;
  }
}
