body {
  background: #fff;
  font: 12px Arial, Helvetica, sans-serif;
  line-height: 1.3;
  color: #222244;
  font-size: 1.4rem;
}

.container {
  margin: 0 auto;
  padding: 0;
}

#resume,
#header {
  overflow: hidden;
}

[class^="section-"] {
  margin-top: 1em;
}

[class^="section-"] > .title {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}

[class^="section-"] > .title span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

[class^="section-"] > .title .title-icon {
  display: inline-block;
  vertical-align: middle;
  background-color: whitesmoke;
  border-radius: 5%;
  width: 2rem;
  height: 2rem;
  padding: 0.4rem 0.45rem;
}
