.section-summary {
  text-align: justify;
}

.section-summary .summary > p {
  margin: 0 0 3px;
}

.section-summary .highlights {
 list-style-type:square;
 font-size: 1.3rem;
}

.section-summary .highlights li {
  margin: .2rem 0;
}
