.section-trainings .item {
  margin-bottom: .6rem;
  font-size: 1.3rem;
}

.section-trainings .item .course .title {
  font-weight: bold;
  text-transform: uppercase;
  color: #0B374D;
}

.section-trainings .item .institution {
  color: #3A6378;
  font-weight: bold;
}
