.section-volunteer .item {
  font-size: 1.3rem;
}

.section-volunteer .item .position .title {
  font-weight: bold;
  text-transform: uppercase;
}

.section-volunteer .item .company {
  color: #3A6378;
  font-weight: bold;
}

.section-volunteer .item .position .date {
  float: right;
}
.section-volunteer .item .summary, .section-volunteer .item .highlights {
    text-align: justify;
}
