.section-work .item {
  margin-bottom: 1.2rem;
}

.section-work .item .position {
  font-weight: bold;
  color: #0B374D;
  text-transform: uppercase;
}

.section-work .item .company {
    padding: 0.2rem 0;
    color: #3A6378;
    font-weight: bold;
    min-height: 22.2px
}

.section-work .item .summary > p {
  margin: 0 0 3px;
}

.section-work .item .company .date {
  float: right;
}

.section-work .item .highlights {
 list-style-type:square;
 /* font-size: 1.3rem; */
}

.section-work .item .highlights li {
  margin: .2rem 0;
}
