{{#if resume.interests.length}}
<section class="section-interests" id="interests-overrides">
	{{>title title='Interests'}}
	{{#each resume.interests}}
	<div class="item">
		{{#if name}}
		<div class="name">
			{{name}}
		</div>
		{{/if}}
		{{#if keywords.length}}
		<div class="keywords">
			{{#each keywords}}
				<span class="label label-default">{{.}}</span>
			{{/each}}
		</div>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}
