{{#if resume.skills.length}}
<section class="section-skills" id="skill-overrides">
	{{#each resume.skills}}
	<div class="item">
		{{#if keywords.length}}
		<div class="keywords">
			{{#each keywords}}
			<span class="label">{{.}}</span>
			{{/each}}
		</div>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}