{{#if resume.skills.length}}
<section class="section-skills" id="skill-overrides">
	{{>title title='Skills'}}
	{{#each resume.skills}}
	<div class="item">
		{{#if name}}
		<div class="name">
			{{name}}
		</div>
		{{/if}}
		{{#if keywords.length}}
		<div class="keywords">
			<!--Use level to add tab -->
			{{#equals level "tab"}}
				&emsp;
			{{/equals}}
			{{#each keywords}}
			<span class="label label-default">{{.}}</span>
			{{/each}}
		</div>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}
