<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<title>github.com/lokesh1990/jsonresume-theme-papirus</title>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
		<style>
			{{{css}}}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="row" id = "header">
				<div class="col-xs-12 content">
					{{> name }}
				</div>
			</div>
			<div class="row" id="resume">
				<div class="col-xs-4 sidebar">
					{{> contact }}
					{{> skills }}
					{{> education }}
					{{> awards }}
					{{> trainings }}
					{{> interests }}
					{{> volunteer }}
					{{> languages }}
				</div>
				<div class="col-xs-8 content">
					{{> summary }}
					{{> work }}
					{{> references }}
				</div>
			</div>
		</div>
</body>
</html>
